body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    width: calc(33.33% - 20px);
    background-color: #808080;
    border: 1px solid black;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}

.section-title {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f05656;
    border: 1px solid black;
    padding: 5px 10px;
}
:hover .section-title{
    background-color:bisque;
    cursor: pointer;
}
@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: calc(50% - 20px);
    }
    .section:nth-child(3) {
        width: calc(100% - 20px);
    }
    .section-title {
        top: 10px;
        right: 10px;
    }
}

@media (max-width: 767px) {
    .section {
        width: calc(100% - 20px);
    }
    .section-title {
        top: 10px;
        right: 10px;
    }
}
.footer{
    text-align: end;
    text-size-adjust: 2px;
    color:burlywood;
}